#Constants {
    includeNativeBool: true;
    /*sideMenuImage: "menu.png";*/
    sideMenuTensileDragBool: false;
    sideMenuTensileDragBool: false;
    sideMenuSizePortraitInt: 30;
    sideMenuShadowBool: true;
    menuImageSize: 4.5;
    sideSwipeSensitiveInt: 100;
    sideSwipeActivationInt: 100;
    buttonRippleBool: false;
    /*multi size images. Name should end with Image to map as image resource*/
    splashLogo1Image: "splash-logo-part-1.png";
    splashLogo2Image: "splash-logo-part-2.png";
    googleImage: "google.png";
    facebookImage: "facebook.png";
    gradientImage: "gradient-overlay.png";
    verticalDraggableImage: "vertical-draggable.png";
    powerBankPhotoImage: "power-bank-photo.png";
    mapPointImage: "map-point.png";
    mobileNumberImage: "mobile-number.png";
    noLogoImage: "no-logo.png";
    likeIdeaImage: "like-idea.png";
    waveImage: "wave.png";
    unselectedWalkthruImage: "unselected-walkthru.png";
    selectedWalkthruImage: "selected-walkthru.png";
    walkthru1Image: "walkthru1.png";
    walkthru2Image: "walkthru2.png";
    walkthru3Image: "walkthru3.png";
    defaultAvatarImage: "defaultAvatar.png";
    avatarPenImage: "avatarPen.png";
    menuBgrImage: "menuBgr.png";
    /*multi size images end*/
    --main-bg-color: #249DA7;
    --grafit-color: #4B545A;
    --fond-ProximaNova-Bold: "ProximaNova-Bold";
    --font-ProximaNova-Regular: "ProximaNova-Regular";
    --font-ProximaNova-Semibold: "ProximaNova-Semibold";
    --font-ProximaNova-Light: "ProximaNova-Light";
}

/*====================== Fonts ==========================*/

@font-face {
    font-family: "ProximaNova-Bold";
    src: url(res/ProximaNova-Bold.ttf);
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url(res/ProximaNova-Regular.ttf);
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url(res/ProximaNova-Semibold.ttf);
}

@font-face {
    font-family: "ProximaNova-Light";
    src: url(res/ProximaNova-Light.ttf);
}

/*====================== Common ==========================*/

Form {
    background: white;
    color: #8fc0c5;
    margin: 0mm;
    padding: 0mm;
}

Container {
    margin: 0mm;
    padding: 0mm;
}

TextHint {
    cn1-derive: LoginText;
    color: #b3b3b3;
}

Title {
    cn1-derive: LoginHeader;
}

TitleCommand {
    padding: 1.1mm;
    margin: 2mm 0mm 0mm 0mm;
    color: #555454;
    background: white;
    border-radius: 3.4mm;
    border: lightgrey solid 0.05mm;
}

TitleCommand.pressed {
    color: black;
}

Toolbar {
    color: #8FC0C5;
    border: none;
    padding: 2mm;
}

TextAlignCenter {
    text-align: center;
    margin: 0mm;
    padding: 0mm;
}

FloatingActionButton {
    background-color: var(--main-bg-color);
    margin: 0mm 2mm 4mm 0mm;
}

FloatingActionButton.pressed {
    background-color: #186a71;
}

ToastBarMessage {
    cn1-derive: ErrorMessageText;
    color: white;
}


/*====================== Login Form ==========================*/

LoginHeader {
    margin: 0mm;
    padding: 0mm;
    font-family: var(--font-ProximaNova-Semibold);
    font-size: 4mm;
}

LoginSubHeader {
    cn1-derive:LoginHeader;
    padding: 2mm 0mm 0mm 0mm;
    font-family: var(--font-ProximaNova-Regular);
    font-size: 3mm;
}

LoginLabel {
    color: grey;
    margin: 2mm 0.5mm 0.5mm 0mm;
    padding: 0mm;
    font-family: var(--font-ProximaNova-Light);
    font-size: 2.3mm;
}

LoginInfo {
    cn1-derive: LoginLabel;
    color: rgba(16, 16, 16, 0.82);
    font-size: 2.6mm;
}

LoginText {
    background-color: white;
    border-bottom: 0.2mm solid lightgrey;
    color: rgba(16, 16, 16, 0.82);
    padding: 1mm;
    margin: 1mm 0mm;
    font-family: var(--font-ProximaNova-Regular);
    font-size: 3mm
}

/*LoginText.selected {*/
/*    border-bottom: 0.2mm solid black;*/
/*}*/

LoginTextIcon {
    cn1-derive: LoginText;
    color: grey;
    padding: 0mm;
    font-size: 4mm
}

LoginForgotLabel {
    cn1-derive: LoginLabel;
    color: #2775a4;
}

LoginForgotLabel.pressed {
    font-weight: bold;
}

LoginTermsText {
    cn1-derive: LoginForgotLabel;
    color: rgba(16, 16, 16, 0.82);
    margin: 0.5mm 0mm;
    padding: 0mm;
}

LoginTermsLink {
    cn1-derive: LoginTermsText;
    color: #0095A0;
}

LoginError {
    cn1-derive: LoginLabel;
    color: #cc0000;
    font-size: 2.5mm
}

LoginButton {
    color: white;
    background: var(--main-bg-color);
    padding: 2mm;
    margin: 5mm 0mm 2mm 0mm;
    font-family: var(--fond-ProximaNova-Bold);
    font-size: 3.2mm;
    text-align: center;
    border-radius: 1.5mm;
}

LoginButton.pressed {
    background: #1d868e;
}

LoginButton.disabled  {
    background: grey;
    color: lightgrey;
}


/*====================== Splash Screen ==========================*/

SplashTitle {
    padding: 0mm;
    margin: 5mm 1mm 1mm 1mm;
    color: #80acb1;
    text-align: center;
    font-family: var(--font-ProximaNova-Light);
    font-weight: bold;
    font-size: 5mm;
}

SplashSubTitle {
    cn1-derive: SplashTitle;
    color: gray;
    margin: 0mm;
    font-size: 4mm;
    font-weight: normal;
}

/*====================== Map Form ==========================*/

TakePowerBankButton {
    cn1-derive: Button;
    color: white;
    background: var(--main-bg-color);
    /*background: linear-gradient(0deg, cadetblue, #5873B8);*/
    padding: 3.3mm 7mm;
    /*margin: 2mm 10mm;*/
    /*border-radius: 10mm;*/
    /*box-shadow: 0.5mm 0.5mm 3.8mm 5mm #91999a;*/
    /*box-shadow: 0px 14px 14px 12px #8FC0C5;*/
    /*cn1-box-shadow-spread: 4mm;*/
    /*cn1-box-shadow-blur: 4mm;*/
    font-family: var(--fond-ProximaNova-Bold);
    font-size: 3.5mm;
    text-align: center;
}

TakePowerBankButton.pressed {
    color: ghostwhite;
    font-size: 3.4mm;
}

MainFormTopMassage {
    margin: 15mm 0mm 0mm 0mm;
}

ToolBox {
    background: white;
    margin: 0mm 2.1mm;
    border-radius: 3.5mm;
    border: lightgrey solid 0.1mm;
}

ToolBoxButton {
    padding: 1.2mm 0.2mm 1.2mm 0.3mm;
    font-size: 3.5mm;
    color: #616161;
    text-align: center;
}

ToolBoxButton.pressed {
    color: black;
    /*background: lightgray;*/
}


/*====================== Bottom panel ==========================*/

BottomPanelFoldedTop {
    padding: 1.1mm 0mm;
    margin: 0mm;
    background: white;
}

BottomPanelFoldedTopText {
    color: #535861;
    font-family: "native:MainRegular";
    font-size: 3.5mm;
    padding: 0mm 2mm;
    margin: 0mm;
}


BottomPanelUnfolded {
    background: white;
    padding: 0mm;
    margin: 0mm;
    /*box-shadow: 0mm 0mm 1.5mm 0mm #8FC0C5;*/
    border: 0.1mm solid lightgrey;
    border-radius: 3mm 3mm 0mm 0mm;
}

BottomPanelFolded {
    background: white;
    padding: 0mm;
    margin: 0mm;
}

/*UnderBottomPanel {*/
/*    padding: 0mm;*/
/*    margin: 0mm;*/
/*    !*border-radius: 2mm;*!*/
/*    !*box-shadow: 0mm -0.5mm 3.5mm -1mm;*!*/
/*}*/

PanelHeader {
    color: #8FC0C5;
    padding: 1mm 3mm;
    margin: 0mm;
    font-family: "native:MainLight";
    font-size: 3mm;
    font-weight: bold;
    text-align: center;
}

PanelText {
    padding: 0mm 2mm;
    font-family: "native:MainLight";
    font-size: 2.5mm;
    text-align: center;
}

PanelImage {
    padding: 0mm;
    margin: 0mm 1mm;
    text-align: center;
}

PanelDelimiter {
    border-bottom: 0.2mm solid rgba(128, 128, 128, 0.5);
    margin: 3mm;
}

RentBorder {
    border-radius: 2mm;
    box-shadow: 0mm 0.2mm 1mm 0mm #8FC0C5;
    background: white;
    margin: 1mm 1mm 0.5mm 1mm;
    padding: 1.5mm 1mm;
}

RentBorderHeader {
    font-family: var(--font-ProximaNova-Semibold);
    color: #8FC0C5;
    font-size: 3.3mm;
    padding: 0mm 2mm;
    margin: 0mm;
}

RentBorderSubHeader {
    cn1-derive: RentBorderHeader;
    font-family: var(--font-ProximaNova-Light);
    color: lightgrey;
    font-size: 2mm;
    padding: 0.7mm 2mm 0mm 2mm;
}

RentBorderText {
    cn1-derive: RentBorderSubHeader;
    font-family: var(--font-ProximaNova-Light);
    color: #4B545A;
    font-size: 2.5mm;
    padding: 0.7mm 2mm 0mm 2mm;
}


DraggableIcon {
    padding: 1mm 0mm 0.5mm 0mm;
    margin: 0mm;
    text-align: center;
}

/*====================== Side Menu ==========================*/

AvatarBackground {
    cn1-derive: Container;
    background: linear-gradient(to right, #249DA7, rgba(36, 157, 167, 0.6));
    margin: 0mm 0mm 0.15mm 0mm;
}

AvatarWave {
    /*cn1-derive: Container;*/
    color: white;
    background: white;
    border: none;
    margin: 0mm;
    padding: 1mm 0mm;
}

AvatarImage {
    cn1-derive: Container;

}

AvatarButton {
    margin: 3mm 2mm 0mm 7mm;
}

AvatarPen {
    margin: 3.5mm 2mm 0mm 17.5mm;
    padding: 0mm;
}

AvatarText {
    font-family: var(--fond-ProximaNova-Bold);
    color: white;
    padding: 1.5mm 1mm 0mm 7mm;
    text-align: left;
    font-size: 3.5mm;
}

AvatarSubText {
    cn1-derive: AvatarText;
    font-family: var(--font-ProximaNova-Regular);
    font-size: 2.5mm;
    margin: 0mm;
    color: ghostwhite;
}

SideMenuButton {
    color: var(--grafit-color);
    background: white;
    padding: 5mm 3mm 0mm 3mm;
    margin: 0mm;
    border: none;
    /*text-shadow: none;*/
    font-family: var(--font-ProximaNova-Semibold);
    /*font-family: "native:MainLight";*/
    border-radius: 2mm;
    font-size: 2.5mm;
}

/*SideMenuButton.pressed {*/
/*    background: lightgrey;*/
/*}*/

SideMenuButtonIcon {
    color: var(--main-bg-color);
    font-size: 3mm;
}

SideMenuButtonSignOut {
    cn1-derive: SideMenuButton;
    font-family: var(--font-ProximaNova-Light);
    text-decoration: underline;
    font-size: 2.6mm;
    margin: 0mm;
}

SideNavigationPanel {
    background-color: white;
    padding: 0mm 0mm 8mm 0mm;
    /*margin: 0mm;*/
    /*border-bottom: 0.1mm solid gray;*/
}

/*====================== Gif Loader ==========================*/
LoadImage {
    /*background: white;*/
    /*margin: 0mm 0mm 20mm;*/
    /*cn1-box-shadow-spread: 4mm;*/
    /*cn1-box-shadow-blur: 4mm;*/
    /*font-family: "native:MainRegular";*/
    /*font-size: 2.2mm;*/
    /*padding: 0mm 15mm;*/
}

/*====================== Stations sheet ==========================*/
Sheet {
    background: ghostwhite;
}

StationsSheetTitle {
    font-family: "native:MainLight";
    font-size: 4mm;
    padding: 0mm;
    margin: 2mm;
    color: black;
    text-align: center;
}

StationsSheetImage {
    margin: 0mm 2mm 1mm;
}

StationsSheetText {
    font-family: "native:MainLight";
    color: #808080;
    font-size: 2.5mm;
    margin: 0mm 1mm 1mm 1mm;
    padding: 0.3mm;
}

StationsSheetTextIcon {
    cn1-derive: StationsSheetText;
    padding: 0mm 0mm 0mm 1.3mm;
}

StationsSheetAvailableText {
    cn1-derive: StationsSheetText;
    margin: 0.5mm 0mm 0mm 3mm;
    color: #000000;
}

StationsSheetNumberAvailable {
    cn1-derive: StationsSheetAvailableText;
    color: green;
    padding: 0mm 1mm;
    margin: 0.1mm 0mm 0mm 3mm;
    font-size: 3.3mm;
    font-weight: bold;
}

StationsSheetNumberCanBeReturned {
    cn1-derive: StationsSheetNumberAvailable;
    color: yellowgreen;
}

GetDirectionButton {
    color: ghostwhite;
    /*background: #4169e1;*/
    font-size: 4.5mm;
    padding: 4mm;
    margin: 0mm 2mm 4mm;
}

GetDirectionButton.pressed {
    color: grey;
}

SheetErrorText {
    cn1-derive: ErrorText;
    margin: 2mm 0mm 0mm 0mm;
    background: lightgray;
}

/*====================== Stations sheet ==========================*/

WalkthruPic {
    text-align: center;
}

WalkthruWhiteText {
    font-family: var(--fond-ProximaNova-Bold);
    color: #3E4958;
    text-align: center;
    font-size: 3.5mm;
    margin: 1mm 2mm;
}

WalkthruSubText {
    cn1-derive: WalkthruWhiteText;
    font-family: var(--font-ProximaNova-Light);
    font-size: 2.5mm;
    margin: 0.3mm 2mm 10mm 2mm;
}

WalkthruTab1 {
    background: #F4F0DC;
}

WalkthruTab2 {
    background: #CCF4FF;
}

WalkthruTab3 {
    background: #D7E0FF;
}


WalkthrSkipButton {
    font-style: var(--fond-ProximaNova-Bold);
    font-size: 3mm;
    color: #249DA7;
    margin: 0mm 3mm 7mm 3mm;
    padding: 1.5mm;
    border-radius: 1mm;
    border: #249DA7 solid 0.2mm;
    text-align: center;
}

/*====================== Error Message ==========================*/

ErrorMessageHolder {
    background: white;
    border-radius: 4.5mm 0mm 5mm 4.5mm;
    border: lightgrey solid 0.1mm;
    margin: 0.5mm 2mm 0mm 2mm;
}

ErrorMessageIcon {
    color: #FD1111;
    padding: 0mm;
    margin: 0.5mm 1mm 1mm 1.3mm;
}

ErrorMessageText {
    color: var(--grafit-color);
    font-size: 2.5mm;
    font-family: var(--font-ProximaNova-Light);
    margin: 1mm 2mm 1mm 0.5mm;
    padding: 0mm;
}

ErrorMessageHeader {
    cn1-derive:ErrorMessageText;
    font-size: 2mm;
    margin: 1mm 2mm 0.5mm 0.7mm;
    color: #bab8b8;
}